@import "../../../../public/styles/variables";

.Navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {

        z-index: 900;
        position: fixed;
        width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 40px;
        background-color: $baseBlack;
        color: white;
        border-radius: 16px;
        // margin-top: 40px;
        top: 40px;

        .logo {
            font-family: Yesteryear;
            font-size: 32px;
            text-transform: uppercase;
        }

        .navs {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 40px;
        }

        .account {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 40px;
            font-family: 'Poppins';

            .login {
                font-size: 16px;
                color: $green;
                text-transform: uppercase;

            }

            .signup {
                line-height: 24px;
                padding: 10px 45px;
                color: white;
                text-transform: uppercase;
                border-radius: 8px;
                border: 1px solid $green;
                background: rgb(144, 176, 54);
                background: linear-gradient(180deg, rgba(144, 176, 54, 1) 13%, rgba(7, 9, 5, 0.32) 87%);
                transition: 200ms linear;

                &:hover {
                    background-color: $green;
                }
            }
        }
    }
}