@import "../../../../public/styles/variables";

.Navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {

        position: fixed;
        width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 40px;
        background-color: $baseBlack;
        color: white;
        border-radius: 16px;
        // margin-top: 40px;
        top: 40px;

        .logo {
            font-family: Yesteryear;
            font-size: 32px;
            text-transform: uppercase;
        }

        .navs {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 40px;
        }

        .account {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 40px;

            .login {
                font-size: 16px;
                color: $green;
                text-transform: uppercase;

            }

            .signup {
                padding: 15px;
                color: white;
                text-transform: uppercase;
                border-radius: 8px;
                border: 1px solid $green;
                background: linear-gradient(180deg, rgba(7, 9, 5, 0.32) 20%, rgba(7, 9, 5, 1) 80%), $green;
            }
        }
    }
}